*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: black;
    width: 100vw;
    height: 100vh;
    animation: back 2s linear infinite;
}
@keyframes back{
    0%{background-color:rgb(184, 197, 197)}
    25%{background-color: rgb(231, 116, 206);}
    50%{background-color: rgb(5, 194, 37);}
    100%{background-color: rgb(8, 226, 241);}
}

.navbar{
    background-color: rgb(227, 238, 81);
    display: flex;
}

.logo img{
    width: 80px;
    border:2px solid black;
    border-radius: 50%;
}

.logo{
    padding-top: 2px;
    padding-left: 2px;
}

.menu{
    padding-left: 120px;
    padding-top: 24px;
}
.menu:first-child:active{
    color:rgb(0, 0, 0);
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
}

.main ul li a{
    text-decoration: none;
    padding-left: 40px;

}

.main ul li a:hover{
    color: rgb(238, 24, 192);
}

.search{
    padding-left: 300px;
    padding-top: 18px;
    
}


.search input{
    border: 0.1px solid black;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
}

.search button{
    background-color: rgb(126, 129, 85);
    color: black;
    width: 70px;
    height: 30px;
    border-radius: 20px;

}

.heading{
    color: rgb(179, 221, 26);
    display: flex;
    justify-content: center;
    margin: 30px;
}

.center{
    display: flex;
}

.text{
    color: cyan;
    padding-left: 150px;
    padding-top: 180px;
    animation: blink 2s linear infinite;
   
}

@keyframes blink{
    0%{color:red}
    25%{color: rgb(199, 30, 176);}
    50%{color: rgb(19, 23, 236);}
    100%{color: rgb(6, 7, 4);}
}

.text h1::before{
    content: '';
    width: 1px;
    height: 80px;
    border:2px solid white ;
}

.text h1:last-child{
    color: rgb(0, 0, 0);
}

.img img{
    width: 400px;
    height: 400px;
    border-radius: 30%;
}

.img{
    padding: 12px 50px;
    padding-right: 30px;
}
